body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  text-align:center;
}

p, div, h1 {
  color: white;
}

.play-button-icon {
  width: 80px;
}

.play-button {
  background-color: transparent;
  height: 150px;
  width: 150px;
  padding: 10px;
  border: 3px solid white;
  border-radius: 75px;
  margin: 30px 30px;
  cursor: pointer;
}

.reset-button {
  padding: 10px;
  background-color: black;
  color: white;
  font-style: bold;
  font-size: 20px;
  border: 1px solid white;
  cursor: pointer;
  margin: 15px;
}

.result {
  font-size: 50px;
  font-weight: bold;
}

.moves {
  font-size: 30px;
  padding-left: 80px;
}

.score {
  font-size: 40px;
  font-weight: bold;
  margin: 50px;
}